@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*css reset*/
body,
h1 {
    margin: 0;
    padding: 0
}

/* 배경 및 위치 CSS*/
body {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Regular';
}

/* 타이핑 효과 적용 CSS*/
section {
    display: inline-block;
    /*중요*/
}

h1 {
    color: #000000;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    /*넓이 값을 0 */
    border-right: 2px solid #000000;
    animation: typing steps(12, end) 2s forwards infinite;
}

/*애니메이션 키프레임 적용*/
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }

}